@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
html,
body {
    @apply w-full h-full text-sm;
}

.font-r {
    font-family: "Righteous", cursive;
}
.logo {
    font-family: "Righteous", cursive;
    @apply inline-flex items-center antialiased font-semibold text-secondary-600 dark:text-secondary-500;
}

/* can be configured in tailwind.config.js */
.group:hover .group-hover\:block {
    display: block;
}

.focus\:cursor-text:focus {
    cursor: text;
}

.focus\:w-64:focus {
    width: 16rem;
}

/* search input */
.searchInput {
    border-width: 0px;
}
.searchInput.input-with-value {
    @apply border border-secondary-200 w-96 bg-secondary-50;
}
.searchInput.input-without-value {
    @apply w-3 border-0;
}
/* tabs */
.tab a {
    @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-secondary-600 hover:border-secondary-300 dark:hover:text-secondary-300;
}
.tab a.active {
    @apply text-primary-600 border-primary-600 dark:text-primary-500 dark:border-primary-500;
}
.tab a.disabled {
    @apply rounded-t-lg cursor-not-allowed text-secondary-400 dark:text-secondary-500;
}
