@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.logo {
    font-family: "Righteous", cursive;
    @apply inline-flex items-center antialiased font-semibold text-secondary-600 dark:text-secondary-500;
}

html,
body {
    @apply w-full h-full text-sm;
}

/* can be configured in tailwind.config.js */
.group:hover .group-hover\:block {
    display: block;
}

.focus\:cursor-text:focus {
    cursor: text;
}

.focus\:w-64:focus {
    width: 16rem;
}

.input-with-value {
    @apply border w-96 bg-secondary-50;
}
.input-without-value {
    @apply w-3 border-0;
}
